.introSection {
  // background-color: var(--bg-light-blue);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px;
  background-position: center center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.twLogoWrap {
  margin-bottom: 60px;
}

.tw-intro-wrap {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 575px) {
  .introSection {
    padding: 70px 20px;
    // background-image: none !important;
    // background-position: left center;
  }
}
