.navbar {
  width: 100%;
  background-color: var(--title);
  position: fixed;
  top: 0;
  box-shadow: #222 0 0 10px;
  z-index: 1000;

  .navbar-container {
    width: 100%;
    height: 80px;
    background-color: var(--title);

    //.wrapper {
    border-bottom: 4px solid white;
    width: 100%;
    height: 80px;
    margin: 0px 0 6px;
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
      justify-self: start;
      cursor: pointer;
      margin-left: 30px;
      width: 260px;
    }

    .nav-menu {
      display: flex;
      flex-direction: row;

      list-style: none;
      text-align: center;
      justify-content: space-evenly;

      .nav-item {
        display: flex;
        align-items: center;

        .nav-links {
          color: #fff;
          text-decoration: none;
          margin: 0 12px;
          font-size: 1.2rem;
          // font-family: wt040;
          line-height: 1;
          padding-bottom: 3px;
          border-bottom: 2px solid var(--title-light);
        }

        .nav-links:hover {
          transition: all 0.2s ease-out;
        }
      }
    }

    .pf-logo {
      height: 70px;
      margin-right: 40px;
      margin-left: 30px;
    }
    //}

    .fa-bars {
      color: #fff;
    }

    .nav-links-mobile {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    // small version: drop down menu
    @media (max-width: 1400px) {
      .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

        &.active {
          background-color: var(--text);
          left: 0;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 100;
        }

        .nav-item {
          color: white;

          .nav-links {
            margin: 0;
            text-align: center;
            padding: 1.3rem;
            width: 100%;
            display: block;
            color: white;
            border: none;

            &:hover {
              background-color: #fff;
              color: var(--text);
              border-radius: 0;
            }
          }
        }
      }

      .navbar-logo {
        position: absolute;
        height: 36%;
        top: 50%;
        left: 4px;
        transform: translateY(-50%);
      }

      .menu-icon {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 36px;
        cursor: pointer;
      }

      .fa-times {
        color: #fff;
        font-size: 2rem;
        font-size: 36px;
      }

      .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
      }

      .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
      }

      .pf-logo {
        margin-top: 20px;
      }
    }
  }
}
